<div class="page-header">
  <%= link_to regs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Registering for <%= @reg.event.name %></h1>
</div>

<%= render 'form' %>
