<!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<form method="post" enctype="multipart/form-data" action="">
    <p>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </p>
    <p>
        <label for="subject">Subject:</label>
        <input name="subject" type="text" class="formbox">
    </p>
    <p>
        <label for="attachment">Attachments:</label>
        <input type="file" name="attachments[]" id="attachment" multiple>
    </p>
    <p>
        <label for="body">Body:</label>
        <textarea id="email_body" name="body"></textarea>
        <script>
          // Replace the <textarea id="editor1"> with a CKEditor
          // instance, using default configuration.
          CKEDITOR.replace( 'email_body' );
      </script>
    </p>
    <p>
        <input type="submit" value="Send message">
    </p>
    <!-- <input type="" hidden name="mails" value="<%= @objects.map(&:id).to_json%>"> -->
    <input hidden name="bulk_action" value="bulk_mail">
    <input hidden name="bulk_ids" value="<%= @objects.map(&:id).to_json%>">
    <input hidden name="model_name" value="alumni">

</form>

<div>
    <p>
        Following are the generic tags that can be used in the body or the subject of the mail:
        <ul>
            <li>Name: {{name}}</li>
            <li>Roll No: {{roll_no}}</li>
            <li>Graduation Year: {{grad_year}}</li>
            <li>Personal Email: {{email}}</li>
            <li>College Email: {{college_mail}}</li>
            <li>Phone No: {{phone_no}}</li>
            <li>Company Name: {{company_name}}</li>
            <li>Designation: {{designation}}</li>
            <li>Location(Address): {{location}}</li>
            <li>LinkedIn ID: {{linkedIn}}</li>
            <li>Facebook ID: {{facebook}}</li>

        </ul>
    </p>
</div>
